<header>
  <div class="container">
    <div id="logo" class="col">
      <a href="/"><img src="/images/logo.png" title="Cherish Uganda"/></a>
    </div>

    <nav>
      <div class="loginlinks">
        <span class="login"><a href="/auth/login">Login</a></span>
        <span class="logout"><a href="/auth/register">Register</a></span>
      </div>

      <div class="userlinks">
        <img src="" alt="Neal Audenaert" class="user-avatar" />
        <span class="username">Neal Audenaert</span>
        <span><a href="/auth/logout">Logout</span>
      </div>

      <div class="mainnav">
        <span><a href="#" class="col">Section 1</a></span>
        <span><a href="#" class="col">Section 2</a></span>
        <span><a href="#" class="col">Section 3</a></span>
      </div>
    </div>
  </div>
</header>