{% extends "layouts/base.njk" %}

{% block body %}
  <header>
    <div class="logo">
    </div>
  </header>

  <main>
   <h1>This is a not header</h1>
  </main>

  <footer>
  </footer>
 
{% endblock %}